.service{
    background-color: rgb(243, 243, 243);
    border-radius:20px ;
}
.service img{
    width: 100%;
}

.BoxSHADOW{
    transition: 0.5s;
}
.BoxSHADOW :hover{
    box-shadow: 5px 10px 8px 10px #c5a3a3;

}








.vehicles .vehicles-slider{
    padding-bottom: 5rem;
}

