.IMG img{

    /* border-radius: 20px; */
}
.CONTANT img{
    width: 80%;
    border-radius: 20px;
    margin: 10px;
   
}

.CONTANT{
    border-radius: 10px;
    
}
.CONTANT:hover img{
    transform: scale(0.9);
}
